global:
  namespace: fullstack-staging
  environment: staging

frontend:
  replicaCount: 2
  image:
    tag: staging-latest

backend:
  replicaCount: 2
  image:
    tag: staging-latest

mysql:
  persistence:
    size: 5Gi

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: staging.fullstack.local
      paths:
        - path: /api
          pathType: Prefix
          service:
            name: backend
            port: 3000
        - path: /
          pathType: Prefix
          service:
            name: frontend
            port: 80
